/* Att göra: */
/* 1. Ändra textstorlek innuti input */
/* 2. Printscreen-knapp? */
/* 3. Stylea genenerate-knappen */
/* 4.  */

.meme {
  position: relative;
  width: 90%;
  margin: auto;
}

.meme-img {
  display: flex;
  justify-content: center;
}

.meme-img img {
  width: 600px;
}

.meme > img {
  width: 400px;
}

.meme > h3 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.meme > .bottom {
  bottom: 0;
}

.meme > .top {
  top: 0;
}

.meme-form {
  width: 90%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-family: "Comic Neue", cursive;
}

.meme-form > input {
  width: 45%;
  height: 40px;
  margin: 3px;
}

.meme-form button {
  font-size: 1rem;
  font-family: "Comic Neue", cursive;
  border-radius: 10%;
  border: rgba(0, 0, 0, 0.303) solid;
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.703);
}

.generator {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.form-box {
  display: flex;
  justify-content: flex-end;
}